h1 {
    color: white;
    text-align: center;
}

textarea {
    max-width: 40%;
    margin: auto;
}

h2 {
    font-size: 15px;
    color: white;
}

body {
    text-align: center;
}

.center {
    max-width: 40%;
    margin: auto;
}

.checkboxRight {
    text-align: left;
}

.bg-success{
    padding: 19px;
}
